# OS / editor
.DS_Store
.vscode/
.idea/

# Dependencies & build
node_modules/
dist/
build/
.next/
.astro/

# Env & secrets
.env
.env.*
!.env.example
*.pem
*.key

# Terraform
.terraform/
*.tfstate
*.tfstate.*
*.tfvars
!*.tfvars.example

# Kubernetes
kubeconfig*
